##### *Cristina Cosma*

# **DATA SCIENCE**

## **Sprint 10. Web Scraping**

**Objetivos**
* Conocer métodos de web scraping
* Documentar datos recojidos mediante web scraping.

___________
Entrega: Enviar la URL a un repositorio llamado **web_scraping** que contenga la solución.
URL : **https://github.com/CristinaCosma/web_scraping** 
___________

**Introducción :**

Web scraping implica extraer datos de la web para su posterior análisis y se tiene que hacer responsablemente, según los terminos y condiciones de sitio. Antes de proceder, cabe comprobar la presencia de fichero "robots.txt" y de sus términos y condiciones de uso para asegurarse de que nos autorizan a hacer web scraping.

Previamente debemos instalar **BeautifulSoup** y sus **requests** ; para **Selenium**, hace falta un **webdriver** y un **web manager** y si todo va bien, el código abrirá una ventana nueva en el navegador indicado (Chrome en este caso), donde podremos  pedirle que acceda a una web mediante ruta url.

Instalación específica necesaria antes de importar o instanciar las librerías de web scraping :

-> C:\WINDOWS\system32>

                conda install anaconda::beautifulsoup4
                
                conda install anaconda::requests
                
                conda install conda-forge::selenium

                conda install conda-forge::python-chromedriver-binary

                conda install conda-forge::webdriver-manager
                

-> Resultado en el cmd: todo OK. 

-> environment location: C:\Users\User\anaconda3

### **0. Importar las librerías necesarias, cargar el dataset, analizar preparar los datos**

In [88]:
# Importamos las librerías básicas

import time
import pandas as pd
import numpy as np

# visualización
import matplotlib.pyplot as plt
import seaborn as sns

# para web scraping con BeautifulSoup
import requests
from bs4 import BeautifulSoup

# para web scraping con Selenium

import chromedriver_binary
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.chrome.service import Service
from webdriver_manager.chrome import ChromeDriverManager

# Install Webdriver
service = Service(ChromeDriverManager().install())

# Create Driver Instance
driver = webdriver.Chrome(service=service)

# para pasar un df de Pandas a Word
from docx import Document

## EXERCICIO 1

### **1. Realizar web scraping de dos de éstas tres páginas web utilizando BeautifulSoup primero y Selenium después**.
 

- http://quotes.toscrape.com

- https://www.bolsamadrid.es

- www.wikipedia.es (fes alguna cerca primer i escrapeja algun contingut)

### **1.a) Análisis de **http://quotes.toscrape.com**.**

Empezando con la primera web propuesta, donde se quiere obtener las frases célebres y con moraleja que contiene. Personalmente me gustan las biografías y conocer lo que las personas han entendido de sus experiencias vitales y por esta razón, elijo empezar con esta página. 

Dada la página web : http://quotes.toscrape.com, verificamos que no tenga una protección contra el web scraping con un fichero **"robots.txt"**

    Para verificar la existencia de "robots.txt" en una web, podemos simplemente añadir "/robots.txt" a la ruta URL. En este caso, intentamos visitar http://quotes.toscrape.com/robots.txt.
    
    ---> Resultado = 404 Not Found : The requested URL was not found on the server. 
    
    ---> Quiere decir que no hay tal fichero y que en principio la página se puede escrapear.

#### **---> Con BeautifulSoup**

In [6]:
# Probamos primero ver qué devuelve el algorítmo con el código más sencillo posible. 

url = "http://quotes.toscrape.com"
response = requests.get(url)

if response.status_code == 200:
    soup = BeautifulSoup(response.text, 'html.parser')
    
    # Extract quotes
    quotes = soup.find_all('span', class_='text')
    for quote in quotes:
        print(quote.get_text())

else:
    print(f"Failed to retrieve the page. Status code: {response.status_code}")

“The world as we have created it is a process of our thinking. It cannot be changed without changing our thinking.”
“It is our choices, Harry, that show what we truly are, far more than our abilities.”
“There are only two ways to live your life. One is as though nothing is a miracle. The other is as though everything is a miracle.”
“The person, be it gentleman or lady, who has not pleasure in a good novel, must be intolerably stupid.”
“Imperfection is beauty, madness is genius and it's better to be absolutely ridiculous than absolutely boring.”
“Try not to become a man of success. Rather become a man of value.”
“It is better to be hated for what you are than to be loved for what you are not.”
“I have not failed. I've just found 10,000 ways that won't work.”
“A woman is like a tea bag; you never know how strong it is until it's in hot water.”
“A day without sunshine is like, you know, night.”

Tenemos las citaciones pero queremos saber quién las dijo. A continuación pedimos buscar cada frase junto a su autor, donde la función zip iterará sobre los "quotes" y los "authors" simultaneamente. La pequeña etiqueta (tag) con la clase "author" contiene la información del autor específica a cada caso.

"Tags" in section : <div class="tags"> Tags:

In [8]:
import requests
from bs4 import BeautifulSoup

url = "http://quotes.toscrape.com"
response = requests.get(url)

if response.status_code == 200:
    soup = BeautifulSoup(response.text, 'html.parser')

    # Locate the quotes and authors
    quotes = soup.find_all('span', class_='text')
    authors = soup.find_all('small', class_='author')

    # Locate the tags for each quote
    for quote, author in zip(quotes, authors):
        print(f"Quote: {quote.get_text()}")
        print(f"Author: {author.get_text()}")

        # Find the tags associated with the current quote
        tags_section = quote.find_next('div', class_='tags')
        if tags_section:
            tags = tags_section.find_all('a', class_='tag')
            tag_words = [tag.get_text() for tag in tags]
            print(f"Tags: {', '.join(tag_words)}")

        print("\n---\n")

else:
    print(f"Failed to retrieve the page. Status code: {response.status_code}")

Quote: “The world as we have created it is a process of our thinking. It cannot be changed without changing our thinking.”
Author: Albert Einstein
Tags: change, deep-thoughts, thinking, world

---

Quote: “It is our choices, Harry, that show what we truly are, far more than our abilities.”
Author: J.K. Rowling
Tags: abilities, choices

---

Quote: “There are only two ways to live your life. One is as though nothing is a miracle. The other is as though everything is a miracle.”
Author: Albert Einstein
Tags: inspirational, life, live, miracle, miracles

---

Quote: “The person, be it gentleman or lady, who has not pleasure in a good novel, must be intolerably stupid.”
Author: Jane Austen
Tags: aliteracy, books, classic, humor

---

Quote: “Imperfection is beauty, madness is genius and it's better to be absolutely ridiculous than absolutely boring.”
Author: Marilyn Monroe
Tags: be-yourself, inspirational

---

Quote: “Try not to become a man of success. Rather become a man of value.”
Author: Albert Einstein
Tags: adulthood, success, value

---

Quote: “It is better to be hated for what you are than to be loved for what you are not.”
Author: André Gide
Tags: life, love

---

Quote: “I have not failed. I've just found 10,000 ways that won't work.”
Author: Thomas A. Edison
Tags: edison, failure, inspirational, paraphrased

---

Quote: “A woman is like a tea bag; you never know how strong it is until it's in hot water.”
Author: Eleanor Roosevelt
Tags: misattributed-eleanor-roosevelt

---

Quote: “A day without sunshine is like, you know, night.”
Author: Steve Martin
Tags: humor, obvious, simile

---

También sería interesante de ver cuáles son los temas principales de los que tratan las citaciones de estos famosos, por lo que buscamos también los "Top Ten tags" ubicados en la columna derecha :

-> <div class="col-md-4 tags-box">        
            <h2>Top Ten tags</h2>

In [7]:
url = "http://quotes.toscrape.com"
response = requests.get(url)

if response.status_code == 200:
    soup = BeautifulSoup(response.text, 'html.parser')

    # Locate the specific section
    tags_section = soup.find('div', class_='col-md-4 tags-box')

    # Extract and print the words Top Ten tags
    if tags_section:
        tag_words = [tag.get_text() for tag in tags_section.find_all('a', class_='tag')]
        print("Words in the specified section as Top Ten tags:", "\n")
        for word in tag_words:
            print(word)

    else:
        print("Unable to find the specified section.")

else:
    print(f"Failed to retrieve the page. Status code: {response.status_code}")

Words in the specified section as Top Ten tags:

love
inspirational
life
humor
books
reading
friendship
friends
truth
simile

In [22]:
tag_words

['love',
 'inspirational',
 'life',
 'humor',
 'books',
 'reading',
 'friendship',
 'friends',
 'truth',
 'simile']

#### **---> Con Selenium**

In [ ]:
import time
import pandas as pd
import chromedriver_binary
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.chrome.service import Service
from webdriver_manager.chrome import ChromeDriverManager

# Install Webdriver
service = Service(ChromeDriverManager().install())

# Create Driver Instance
driver = webdriver.Chrome(service=service)

# Get Web Page
driver.get('http://quotes.toscrape.com')

* Solamente con el código escrito en la sección de arriba hasta ahora y mediante "driver.get('url')" nos **abre la página web** que le pedimos correctamente.
* Ahora que se ha verificado la **efectividad del código y de los paquetes instalados**, vamos a pedirle que **proceda al Web Scraping**.

In [26]:
# Create Driver Instance
driver = webdriver.Chrome(service=service)

# Get Web Page
driver.get('http://quotes.toscrape.com')

# Wait for the page to load (you might need to adjust the time based on the page load time)
time.sleep(2)

# Extract quotes, authors, and tags
quotes = []
authors = []
tags = []

quote_elements = driver.find_elements(By.CLASS_NAME, 'text')
author_elements = driver.find_elements(By.CLASS_NAME, 'author')
tags_elements = driver.find_elements(By.CLASS_NAME, 'tags')

for quote, author, tags_element in zip(quote_elements, author_elements, tags_elements):
    quote_text = quote.text
    author_name = author.text
    tags_text = tags_element.text.replace('Tags:', '').strip().split()

    quotes.append(quote_text)
    authors.append(author_name)
    tags.append(tags_text)

# Create a DataFrame
data = {'Quote': quotes, 'Author': authors, 'Tags': tags}
df = pd.DataFrame(data)

# Print the DataFrame
print(df)

# Close the browser window
driver.quit()

                                               Quote             Author  \
0  “The world as we have created it is a process ...    Albert Einstein
1  “It is our choices, Harry, that show what we t...       J.K. Rowling
2  “There are only two ways to live your life. On...    Albert Einstein
3  “The person, be it gentleman or lady, who has ...        Jane Austen
4  “Imperfection is beauty, madness is genius and...     Marilyn Monroe
5  “Try not to become a man of success. Rather be...    Albert Einstein
6  “It is better to be hated for what you are tha...         André Gide
7  “I have not failed. I've just found 10,000 way...   Thomas A. Edison
8  “A woman is like a tea bag; you never know how...  Eleanor Roosevelt
9  “A day without sunshine is like, you know, nig...       Steve Martin

                                             Tags
0        [change, deep-thoughts, thinking, world]
1                            [abilities, choices]
2  [inspirational, life, live, miracle, miracles]
3              [aliteracy, books, classic, humor]
4                    [be-yourself, inspirational]
5                     [adulthood, success, value]
6                                    [life, love]
7   [edison, failure, inspirational, paraphrased]
8               [misattributed-eleanor-roosevelt]
9                        [humor, obvious, simile]

In [27]:
df

,Quote,Author,Tags
0,“The world as we have created it is a process ...,Albert Einstein,"[change, deep-thoughts, thinking, world]"
1,"“It is our choices, Harry, that show what we t...",J.K. Rowling,"[abilities, choices]"
2,“There are only two ways to live your life. On...,Albert Einstein,"[inspirational, life, live, miracle, miracles]"
3,"“The person, be it gentleman or lady, who has ...",Jane Austen,"[aliteracy, books, classic, humor]"
4,"“Imperfection is beauty, madness is genius and...",Marilyn Monroe,"[be-yourself, inspirational]"
5,“Try not to become a man of success. Rather be...,Albert Einstein,"[adulthood, success, value]"
6,“It is better to be hated for what you are tha...,André Gide,"[life, love]"
7,"“I have not failed. I've just found 10,000 way...",Thomas A. Edison,"[edison, failure, inspirational, paraphrased]"
8,“A woman is like a tea bag; you never know how...,Eleanor Roosevelt,[misattributed-eleanor-roosevelt]
9,"“A day without sunshine is like, you know, nig...",Steve Martin,"[humor, obvious, simile]"

Acabamos de ver como el web scraping ha funcionado tanto con Beautiful Soup como con Selenium !

### **1.b) Análisis de **https://es.wikipedia.org/wiki/Anexo:Reyes_de_Espa%C3%B1a** -> *Anexo:Reyes_de_España*.**

    Esta página es sobre la historia de la monarquía española, en la que se habla del actual monarca Felipe VI y lo relacionado con éste. Después, en el cuerpo principal de la página a continuación, se despliegan las tablas de todas las casas reales con sus correspondientes monarcas (reinas y reyes), su fecha y lugar de nacimiento como de difunción, su descendencia si tuvieron y cuántos hijos tuvieron, además de si alguno de ellos devino a su vez monarca del país.
    
    Las columnas de la tablas por cada "casa real" o dinastía, son las siguientes : Imagen, Escudo, Nombre, Sobrenombre, Reinado, Nacimiento, Fallecimiento / Sepultura, Consorte y descendencia. Hay variables que cambian ligeramente de nombre según las tablas, como "Consorte y descendencia", que a veces está como "Reina consorte y descendencia".
    
    Se busca obtener los datos de las tablas en un pandas dataframe.
    
    Miramos si está protegido con un fichero robots.txt" y vemos que no lo está, por lo que nos deja libres de efectuar el web scraping.

#### **---> Con BeautifulSoup**

In [40]:
import requests
from bs4 import BeautifulSoup

# URL of the Wikipedia page
url = "https://es.wikipedia.org/wiki/Anexo:Reyes_de_Espa%C3%B1a"

# Make a request to the URL
response = requests.get(url)

# Parse the HTML content
soup = BeautifulSoup(response.text, 'html.parser')

# Locate the content section
content_section = soup.find('div', {'id': 'mw-content-text'}).find('div', class_='mw-parser-output')

# Extract data from all tables within the content section
tables = content_section.find_all('table', {'width': '100%', 'class': 'wikitable'})

all_table_data = []

for table in tables:
    rows = table.select('tr')[1:]  # Skip the header row

    table_data = []
    for row in rows:
        columns = row.select('td')
        if columns:  # Ensure it's not an empty row
            data = [column.get_text(strip=True) for column in columns]
            table_data.append(data)

    all_table_data.extend(table_data)

# Create a DataFrame
columns = ["Imagen", "Escudo", "Nombre", "Sobrenombre", "Reinado", "Nacimiento", "Fallecimiento", "Consorte y descendencia"]
df_1 = pd.DataFrame(all_table_data, columns=columns)

# Print the DataFrame
print(df_1)

                                        Imagen  \
0
1
2                        Fernando II de Aragón
3
4   Juana I de Aragónjunto con su hijoCarlos I
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27

                                               Escudo  \
0
1
2   20 de enerode1479-23 de enerode1516(37 años y ...
3
4   23 de enerode1516[c]​-12 de abrilde1555(39 año...
5
6
7
8
9
10
11                                               None
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27

                                               Nombre  \
0   Isabel I de Castillajunto con su maridoFernand...
1    Fernando V de Castillajunto con su mujerIsabel I
2                         Isabel I de Castilla7 hijos
3   Juana I de Castillajunto con su maridoFelipe(1...
4
5       Felipe I de Castillajunto con su mujerJuana I
6   Carlos Ijunto con su madreJuana Ihasta el12 de...
7                                       Felipe II[g]​
8                                          Felipe III
9                                           Felipe IV
10                                          Carlos II
11                                               None
12  Archiduque CarlosRey rival comoCarlos III, eng...
13                                           Felipe V
14                                             Luis I
15                                           Felipe V
16                                        Fernando VI
17                                         Carlos III
18                                          Carlos IV
19                                       Fernando VII
20                                             José I
21                                       Fernando VII
22                                      Isabel II[u]​
23                                           Amadeo I
24                                        Alfonso XII
25                                       Alfonso XIII
26                                      Juan Carlos I
27                                          Felipe VI

                                          Sobrenombre  \
0                                         la Católica
1                                         el Católico
2                                                None
3                                             la Loca
4                                                None
5                                          el Hermoso
6                                            el César
7                                         el Prudente
8                                          el Piadoso
9                            el Grande,el Rey Planeta
10                                       el Hechizado
11                                               None
12                                      el Archiduque
13                                         el Animoso
14                           el Bien Amado,el Liberal
15                                         el Animoso
16                               el Prudente,el Justo
17             el Político,el Mejor Alcalde de Madrid
18                                         el Cazador
19                            el Deseado,el Rey Felón
20             Pepe Botella,Pepe Plazuelas,el Intruso
21                            el Deseado,el Rey Felón
22        la de los Tristes Destinos,la Reina Castiza
23                         el Rey Caballero,el Electo
24                                     el Pacificador
25                                        el Africano
26  22 de noviembrede1975[z]​-19 de juniode2014(38...
27          Desde19 de juniode2014(9 años y 205 días)

                                              Reinado  \
0   13 de diciembrede1474-26 de noviembrede1504(29...
1   15 de enerode1475[a]​-26 de noviembrede1504[b]...
2                                                None
3   26 de noviembrede1504-12 de abrilde1555(50 año...
4                                                None
5   12 de juliode1506[d]​-25 de septiembrede1506(7...
6   14 de marzode1516[e]​-16 de enerode1556[f]​(39...
7   16 de enerode1556-13 de septiembrede1598(42 añ...
8   13 de septiembrede1598-31 de marzode1621[h]​(2...
9   31 de marzode1621-17 de septiembrede1665(44 añ...
10  17 de septiembrede1665-1 de noviembrede1700[i]...
11                                               None
12  12 de septiembrede1703[k]​-2 de juliode1715[l]...
13  16 de noviembrede1700-14 de enerode1724[n]​[o]...
14           14 de enero-31 de agostode1724(230 días)
15  6 de septiembrede1724-9 de juliode1746(21 años...
16  9 de juliode1746-10 de agostode1759(13 años y ...
17  10 de agostode1759-14 de diciembrede1788[p]​(2...
18  14 de diciembrede1788-19 de marzode1808(19 año...
19     19 de marzode1808-6 de mayode1808[q]​(48 días)
20  6 de juniode1808[r]​-11 de diciembrede1813(5 a...
21  11 de agostode1808[s]​/4 de mayode1814[t]​-29 ...
22  29 de septiembrede1833-30 de septiembrede1868[...
23  16 de noviembrede1870-11 de febrerode1873[w]​(...
24  29 de diciembrede1874-25 de noviembrede1885[x]...
25  17 de mayode1886-14 de abrilde1931[y]​(44 años...
26  5 de enerode1938Roma(86 años)Hijo deJuan de Bo...
27  30 de enerode1968Madrid(55 años)Hijo de Juan C...

                                           Nacimiento  \
0   22 de abrilde1451Madrigal de las Altas TorresH...
1   10 de marzode1452SosHijo deJuan II de AragónyJ...
2                                                None
3   6 de noviembrede1479ToledoHija de Isabel I y F...
4                                                None
5   22 de juniode1478BrujasHijo deMaximiliano I de...
6   24 de febrerode1500GanteHijo de Juana I y Feli...
7   21 de mayode1527ValladolidHijo de Carlos I e I...
8   14 de abrilde1578MadridHijo de Felipe II y Ana...
9   8 de abrilde1605ValladolidHijo de Felipe III y...
10  6 de noviembrede1661MadridHijo de Felipe IV y ...
11                                               None
12  1 de octubrede1685VienaHijo deLeopoldo IyLeono...
13  19 de diciembrede1683VersallesHijo deLuis de F...
14  25 de agostode1707MadridHijo de Felipe V y Mar...
15  19 de diciembrede1683VersallesHijo de Luis de ...
16  23 de septiembrede1713MadridHijo de Felipe V y...
17  20 de enerode1716MadridHijo de Felipe V e Isab...
18  11 de noviembrede1748PorticiHijo de Carlos III...
19  14 de octubrede1784San Lorenzo de El EscorialH...
20  7 de enerode1768CorteHijo deCarlo BuonaparteyM...
21  14 de octubrede1784San Lorenzo de El EscorialH...
22  10 de octubrede1830MadridHija de Fernando VII ...
23  30 de mayode1845TurínHijo deVíctor Manuel II d...
24  28 de noviembrede1857MadridHijo de Isabel II y...
25  17 de mayode1886MadridHijo de Alfonso XII y Ma...
26                             Sofía de Grecia3 hijos
27                               Letizia Ortiz2 hijas

                                        Fallecimiento  \
0   26 de noviembrede1504Medina del Campo(53 años)...
1   23 de enerode1516Madrigalejo(63 años)Capilla R...
2                                                None
3   12 de abrilde1555Tordesillas(75 años)Capilla R...
4                                                None
5   25 de septiembrede1506Burgos(28 años)Capilla R...
6   21 de septiembrede1558Cuacos de Yuste(58 años)...
7   13 de septiembrede1598San Lorenzo de El Escori...
8   31 de marzode1621Madrid(42 años)Cripta Real de...
9   17 de septiembrede1665Madrid(60 años)Cripta Re...
10  1 de noviembrede1700Madrid(38 años)Cripta Real...
11                                               None
12  20 de octubrede1740Viena(55 años)Cripta Imperi...
13  9 de juliode1746Madrid(62 años)Palacio Real de...
14  31 de agostode1724Madrid(17 años)Cripta Real d...
15  9 de juliode1746Madrid(62 años)Palacio Real de...
16  10 de agostode1759Villaviciosa de Odón(45 años...
17  14 de diciembrede1788Madrid(72 años)Cripta Rea...
18  19 de enerode1819Nápoles(70 años)Cripta Real d...
19  29 de septiembrede1833Madrid(48 años)Cripta Re...
20   28 de juliode1844Florencia(76 años)Los Inválidos
21  29 de septiembrede1833Madrid(48 años)Cripta Re...
22  9 de abrilde1904París(73 años)Cripta Real del ...
23  18 de enerode1890Turín(44 años)Basílica de Sup...
24  25 de noviembrede1885El Pardo(27 años)Cripta R...
25  28 de febrerode1941Roma(54 años)Cripta Real de...
26                                               None
27                                               None

                              Consorte y descendencia
0
1
2                                                None
3                         Felipe I de Castilla6 hijos
4                                                None
5
6                           Isabel de Portugal5 hijos
7   (1)María I de InglaterraSin descendencia(2)Isa...
8                         Margarita de Austria8 hijos
9   (1)Isabel de Borbón10 hijos(2)Mariana de Austr...
10  (1)María Luisa de OrleansSin descendencia(2)Ma...
11                                               None
12   Isabel Cristina de Brunswick-Wolfenbüttel4 hijos
13  (1)María Luisa Gabriela de Saboya4 hijos(2)Isa...
14            Luisa Isabel de OrleansSin descendencia
15                          Isabel de Farnesio7 hijos
16                Bárbara de BraganzaSin descendencia
17                    María Amalia de Sajonia13 hijos
18                       María Luisa de Parma14 hijos
19
20                                 Julia Clary3 hijas
21  (1)María Isabel de Braganza1 hija(2)María Jose...
22                Francisco de Asís de Borbón12 hijos
23                    María Victoria dal Pozzo3 hijos
24  (1)María de las Mercedes de OrleansSin descend...
25              Victoria Eugenia de Battenberg7 hijos
26                                               None
27                                               None

In [41]:
df_1

,Imagen,Escudo,Nombre,Sobrenombre,Reinado,Nacimiento,Fallecimiento,Consorte y descendencia
0,,,Isabel I de Castillajunto con su maridoFernand...,la Católica,13 de diciembrede1474-26 de noviembrede1504(29...,22 de abrilde1451Madrigal de las Altas TorresH...,26 de noviembrede1504Medina del Campo(53 años)...,
1,,,Fernando V de Castillajunto con su mujerIsabel I,el Católico,15 de enerode1475[a]​-26 de noviembrede1504[b]...,10 de marzode1452SosHijo deJuan II de AragónyJ...,23 de enerode1516Madrigalejo(63 años)Capilla R...,
2,Fernando II de Aragón,20 de enerode1479-23 de enerode1516(37 años y ...,Isabel I de Castilla7 hijos,None,None,None,None,None
3,,,Juana I de Castillajunto con su maridoFelipe(1...,la Loca,26 de noviembrede1504-12 de abrilde1555(50 año...,6 de noviembrede1479ToledoHija de Isabel I y F...,12 de abrilde1555Tordesillas(75 años)Capilla R...,Felipe I de Castilla6 hijos
4,Juana I de Aragónjunto con su hijoCarlos I,23 de enerode1516[c]​-12 de abrilde1555(39 año...,,None,None,None,None,None
5,,,Felipe I de Castillajunto con su mujerJuana I,el Hermoso,12 de juliode1506[d]​-25 de septiembrede1506(7...,22 de juniode1478BrujasHijo deMaximiliano I de...,25 de septiembrede1506Burgos(28 años)Capilla R...,
6,,,Carlos Ijunto con su madreJuana Ihasta el12 de...,el César,14 de marzode1516[e]​-16 de enerode1556[f]​(39...,24 de febrerode1500GanteHijo de Juana I y Feli...,21 de septiembrede1558Cuacos de Yuste(58 años)...,Isabel de Portugal5 hijos
7,,,Felipe II[g]​,el Prudente,16 de enerode1556-13 de septiembrede1598(42 añ...,21 de mayode1527ValladolidHijo de Carlos I e I...,13 de septiembrede1598San Lorenzo de El Escori...,(1)María I de InglaterraSin descendencia(2)Isa...
8,,,Felipe III,el Piadoso,13 de septiembrede1598-31 de marzode1621[h]​(2...,14 de abrilde1578MadridHijo de Felipe II y Ana...,31 de marzode1621Madrid(42 años)Cripta Real de...,Margarita de Austria8 hijos
9,,,Felipe IV,"el Grande,el Rey Planeta",31 de marzode1621-17 de septiembrede1665(44 añ...,8 de abrilde1605ValladolidHijo de Felipe III y...,17 de septiembrede1665Madrid(60 años)Cripta Re...,(1)Isabel de Borbón10 hijos(2)Mariana de Austr...
10,,,Carlos II,el Hechizado,17 de septiembrede1665-1 de noviembrede1700[i]...,6 de noviembrede1661MadridHijo de Felipe IV y ...,1 de noviembrede1700Madrid(38 años)Cripta Real...,(1)María Luisa de OrleansSin descendencia(2)Ma...
11,,None,None,None,None,None,None,None
12,,,"Archiduque CarlosRey rival comoCarlos III, eng...",el Archiduque,12 de septiembrede1703[k]​-2 de juliode1715[l]...,1 de octubrede1685VienaHijo deLeopoldo IyLeono...,20 de octubrede1740Viena(55 años)Cripta Imperi...,Isabel Cristina de Brunswick-Wolfenbüttel4 hijos
13,,,Felipe V,el Animoso,16 de noviembrede1700-14 de enerode1724[n]​[o]...,19 de diciembrede1683VersallesHijo deLuis de F...,9 de juliode1746Madrid(62 años)Palacio Real de...,(1)María Luisa Gabriela de Saboya4 hijos(2)Isa...
14,,,Luis I,"el Bien Amado,el Liberal",14 de enero-31 de agostode1724(230 días),25 de agostode1707MadridHijo de Felipe V y Mar...,31 de agostode1724Madrid(17 años)Cripta Real d...,Luisa Isabel de OrleansSin descendencia
15,,,Felipe V,el Animoso,6 de septiembrede1724-9 de juliode1746(21 años...,19 de diciembrede1683VersallesHijo de Luis de ...,9 de juliode1746Madrid(62 años)Palacio Real de...,Isabel de Farnesio7 hijos
16,,,Fernando VI,"el Prudente,el Justo",9 de juliode1746-10 de agostode1759(13 años y ...,23 de septiembrede1713MadridHijo de Felipe V y...,10 de agostode1759Villaviciosa de Odón(45 años...,Bárbara de BraganzaSin descendencia
17,,,Carlos III,"el Político,el Mejor Alcalde de Madrid",10 de agostode1759-14 de diciembrede1788[p]​(2...,20 de enerode1716MadridHijo de Felipe V e Isab...,14 de diciembrede1788Madrid(72 años)Cripta Rea...,María Amalia de Sajonia13 hijos
18,,,Carlos IV,el Cazador,14 de diciembrede1788-19 de marzode1808(19 año...,11 de noviembrede1748PorticiHijo de Carlos III...,19 de enerode1819Nápoles(70 años)Cripta Real d...,María Luisa de Parma14 hijos
19,,,Fernando VII,"el Deseado,el Rey Felón",19 de marzode1808-6 de mayode1808[q]​(48 días),14 de octubrede1784San Lorenzo de El EscorialH...,29 de septiembrede1833Madrid(48 años)Cripta Re...,
20,,,José I,"Pepe Botella,Pepe Plazuelas,el Intruso",6 de juniode1808[r]​-11 de diciembrede1813(5 a...,7 de enerode1768CorteHijo deCarlo BuonaparteyM...,28 de juliode1844Florencia(76 años)Los Inválidos,Julia Clary3 hijas
21,,,Fernando VII,"el Deseado,el Rey Felón",11 de agostode1808[s]​/4 de mayode1814[t]​-29 ...,14 de octubrede1784San Lorenzo de El EscorialH...,29 de septiembrede1833Madrid(48 años)Cripta Re...,(1)María Isabel de Braganza1 hija(2)María Jose...
22,,,Isabel II[u]​,"la de los Tristes Destinos,la Reina Castiza",29 de septiembrede1833-30 de septiembrede1868[...,10 de octubrede1830MadridHija de Fernando VII ...,9 de abrilde1904París(73 años)Cripta Real del ...,Francisco de Asís de Borbón12 hijos
23,,,Amadeo I,"el Rey Caballero,el Electo",16 de noviembrede1870-11 de febrerode1873[w]​(...,30 de mayode1845TurínHijo deVíctor Manuel II d...,18 de enerode1890Turín(44 años)Basílica de Sup...,María Victoria dal Pozzo3 hijos
24,,,Alfonso XII,el Pacificador,29 de diciembrede1874-25 de noviembrede1885[x]...,28 de noviembrede1857MadridHijo de Isabel II y...,25 de noviembrede1885El Pardo(27 años)Cripta R...,(1)María de las Mercedes de OrleansSin descend...
25,,,Alfonso XIII,el Africano,17 de mayode1886-14 de abrilde1931[y]​(44 años...,17 de mayode1886MadridHijo de Alfonso XII y Ma...,28 de febrerode1941Roma(54 años)Cripta Real de...,Victoria Eugenia de Battenberg7 hijos
26,,,Juan Carlos I,22 de noviembrede1975[z]​-19 de juniode2014(38...,5 de enerode1938Roma(86 años)Hijo deJuan de Bo...,Sofía de Grecia3 hijos,None,None
27,,,Felipe VI,Desde19 de juniode2014(9 años y 205 días),30 de enerode1968Madrid(55 años)Hijo de Juan C...,Letizia Ortiz2 hijas,None,None

#### **---> Con Selenium**

In [86]:
# Create Driver Instance
driver = webdriver.Chrome(service=service)

# URL of the Wikipedia page
url = "https://es.wikipedia.org/wiki/Anexo:Reyes_de_Espa%C3%B1a"

# Get Web Page
driver.get(url)

# Wait for the page to load 
time.sleep(10)

# Extract data from the table
table = driver.find_element(By.XPATH, "//table[@class='wikitable']")
rows = table.find_elements(By.XPATH, ".//tr")[1:]  # Skip the header row

all_table_data = []

for table in tables:
    rows = table.select('tr')[1:]  # Skip the header row

    table_data = []
    for row in rows:
        columns = row.select('td')
        if columns:  # Ensure it's not an empty row
            data = [column.get_text(strip=True) for column in columns]
            table_data.append(data)

    all_table_data.extend(table_data)

# Create a DataFrame
columns = ["Imagen", "Escudo", "Nombre", "Sobrenombre", "Reinado", "Nacimiento", "Fallecimiento", "Consorte y descendencia"]
df = pd.DataFrame(all_table_data, columns=columns)

# Print the DataFrame
print(df)

# Close the browser window
driver.quit()

                                        Imagen  \
0
1
2                        Fernando II de Aragón
3
4   Juana I de Aragónjunto con su hijoCarlos I
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27

                                               Escudo  \
0
1
2   20 de enerode1479-23 de enerode1516(37 años y ...
3
4   23 de enerode1516[c]​-12 de abrilde1555(39 año...
5
6
7
8
9
10
11                                               None
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27

                                               Nombre  \
0   Isabel I de Castillajunto con su maridoFernand...
1    Fernando V de Castillajunto con su mujerIsabel I
2                         Isabel I de Castilla7 hijos
3   Juana I de Castillajunto con su maridoFelipe(1...
4
5       Felipe I de Castillajunto con su mujerJuana I
6   Carlos Ijunto con su madreJuana Ihasta el12 de...
7                                       Felipe II[g]​
8                                          Felipe III
9                                           Felipe IV
10                                          Carlos II
11                                               None
12  Archiduque CarlosRey rival comoCarlos III, eng...
13                                           Felipe V
14                                             Luis I
15                                           Felipe V
16                                        Fernando VI
17                                         Carlos III
18                                          Carlos IV
19                                       Fernando VII
20                                             José I
21                                       Fernando VII
22                                      Isabel II[u]​
23                                           Amadeo I
24                                        Alfonso XII
25                                       Alfonso XIII
26                                      Juan Carlos I
27                                          Felipe VI

                                          Sobrenombre  \
0                                         la Católica
1                                         el Católico
2                                                None
3                                             la Loca
4                                                None
5                                          el Hermoso
6                                            el César
7                                         el Prudente
8                                          el Piadoso
9                            el Grande,el Rey Planeta
10                                       el Hechizado
11                                               None
12                                      el Archiduque
13                                         el Animoso
14                           el Bien Amado,el Liberal
15                                         el Animoso
16                               el Prudente,el Justo
17             el Político,el Mejor Alcalde de Madrid
18                                         el Cazador
19                            el Deseado,el Rey Felón
20             Pepe Botella,Pepe Plazuelas,el Intruso
21                            el Deseado,el Rey Felón
22        la de los Tristes Destinos,la Reina Castiza
23                         el Rey Caballero,el Electo
24                                     el Pacificador
25                                        el Africano
26  22 de noviembrede1975[z]​-19 de juniode2014(38...
27          Desde19 de juniode2014(9 años y 205 días)

                                              Reinado  \
0   13 de diciembrede1474-26 de noviembrede1504(29...
1   15 de enerode1475[a]​-26 de noviembrede1504[b]...
2                                                None
3   26 de noviembrede1504-12 de abrilde1555(50 año...
4                                                None
5   12 de juliode1506[d]​-25 de septiembrede1506(7...
6   14 de marzode1516[e]​-16 de enerode1556[f]​(39...
7   16 de enerode1556-13 de septiembrede1598(42 añ...
8   13 de septiembrede1598-31 de marzode1621[h]​(2...
9   31 de marzode1621-17 de septiembrede1665(44 añ...
10  17 de septiembrede1665-1 de noviembrede1700[i]...
11                                               None
12  12 de septiembrede1703[k]​-2 de juliode1715[l]...
13  16 de noviembrede1700-14 de enerode1724[n]​[o]...
14           14 de enero-31 de agostode1724(230 días)
15  6 de septiembrede1724-9 de juliode1746(21 años...
16  9 de juliode1746-10 de agostode1759(13 años y ...
17  10 de agostode1759-14 de diciembrede1788[p]​(2...
18  14 de diciembrede1788-19 de marzode1808(19 año...
19     19 de marzode1808-6 de mayode1808[q]​(48 días)
20  6 de juniode1808[r]​-11 de diciembrede1813(5 a...
21  11 de agostode1808[s]​/4 de mayode1814[t]​-29 ...
22  29 de septiembrede1833-30 de septiembrede1868[...
23  16 de noviembrede1870-11 de febrerode1873[w]​(...
24  29 de diciembrede1874-25 de noviembrede1885[x]...
25  17 de mayode1886-14 de abrilde1931[y]​(44 años...
26  5 de enerode1938Roma(86 años)Hijo deJuan de Bo...
27  30 de enerode1968Madrid(55 años)Hijo de Juan C...

                                           Nacimiento  \
0   22 de abrilde1451Madrigal de las Altas TorresH...
1   10 de marzode1452SosHijo deJuan II de AragónyJ...
2                                                None
3   6 de noviembrede1479ToledoHija de Isabel I y F...
4                                                None
5   22 de juniode1478BrujasHijo deMaximiliano I de...
6   24 de febrerode1500GanteHijo de Juana I y Feli...
7   21 de mayode1527ValladolidHijo de Carlos I e I...
8   14 de abrilde1578MadridHijo de Felipe II y Ana...
9   8 de abrilde1605ValladolidHijo de Felipe III y...
10  6 de noviembrede1661MadridHijo de Felipe IV y ...
11                                               None
12  1 de octubrede1685VienaHijo deLeopoldo IyLeono...
13  19 de diciembrede1683VersallesHijo deLuis de F...
14  25 de agostode1707MadridHijo de Felipe V y Mar...
15  19 de diciembrede1683VersallesHijo de Luis de ...
16  23 de septiembrede1713MadridHijo de Felipe V y...
17  20 de enerode1716MadridHijo de Felipe V e Isab...
18  11 de noviembrede1748PorticiHijo de Carlos III...
19  14 de octubrede1784San Lorenzo de El EscorialH...
20  7 de enerode1768CorteHijo deCarlo BuonaparteyM...
21  14 de octubrede1784San Lorenzo de El EscorialH...
22  10 de octubrede1830MadridHija de Fernando VII ...
23  30 de mayode1845TurínHijo deVíctor Manuel II d...
24  28 de noviembrede1857MadridHijo de Isabel II y...
25  17 de mayode1886MadridHijo de Alfonso XII y Ma...
26                             Sofía de Grecia3 hijos
27                               Letizia Ortiz2 hijas

                                        Fallecimiento  \
0   26 de noviembrede1504Medina del Campo(53 años)...
1   23 de enerode1516Madrigalejo(63 años)Capilla R...
2                                                None
3   12 de abrilde1555Tordesillas(75 años)Capilla R...
4                                                None
5   25 de septiembrede1506Burgos(28 años)Capilla R...
6   21 de septiembrede1558Cuacos de Yuste(58 años)...
7   13 de septiembrede1598San Lorenzo de El Escori...
8   31 de marzode1621Madrid(42 años)Cripta Real de...
9   17 de septiembrede1665Madrid(60 años)Cripta Re...
10  1 de noviembrede1700Madrid(38 años)Cripta Real...
11                                               None
12  20 de octubrede1740Viena(55 años)Cripta Imperi...
13  9 de juliode1746Madrid(62 años)Palacio Real de...
14  31 de agostode1724Madrid(17 años)Cripta Real d...
15  9 de juliode1746Madrid(62 años)Palacio Real de...
16  10 de agostode1759Villaviciosa de Odón(45 años...
17  14 de diciembrede1788Madrid(72 años)Cripta Rea...
18  19 de enerode1819Nápoles(70 años)Cripta Real d...
19  29 de septiembrede1833Madrid(48 años)Cripta Re...
20   28 de juliode1844Florencia(76 años)Los Inválidos
21  29 de septiembrede1833Madrid(48 años)Cripta Re...
22  9 de abrilde1904París(73 años)Cripta Real del ...
23  18 de enerode1890Turín(44 años)Basílica de Sup...
24  25 de noviembrede1885El Pardo(27 años)Cripta R...
25  28 de febrerode1941Roma(54 años)Cripta Real de...
26                                               None
27                                               None

                              Consorte y descendencia
0
1
2                                                None
3                         Felipe I de Castilla6 hijos
4                                                None
5
6                           Isabel de Portugal5 hijos
7   (1)María I de InglaterraSin descendencia(2)Isa...
8                         Margarita de Austria8 hijos
9   (1)Isabel de Borbón10 hijos(2)Mariana de Austr...
10  (1)María Luisa de OrleansSin descendencia(2)Ma...
11                                               None
12   Isabel Cristina de Brunswick-Wolfenbüttel4 hijos
13  (1)María Luisa Gabriela de Saboya4 hijos(2)Isa...
14            Luisa Isabel de OrleansSin descendencia
15                          Isabel de Farnesio7 hijos
16                Bárbara de BraganzaSin descendencia
17                    María Amalia de Sajonia13 hijos
18                       María Luisa de Parma14 hijos
19
20                                 Julia Clary3 hijas
21  (1)María Isabel de Braganza1 hija(2)María Jose...
22                Francisco de Asís de Borbón12 hijos
23                    María Victoria dal Pozzo3 hijos
24  (1)María de las Mercedes de OrleansSin descend...
25              Victoria Eugenia de Battenberg7 hijos
26                                               None
27                                               None

In [87]:
df

,Imagen,Escudo,Nombre,Sobrenombre,Reinado,Nacimiento,Fallecimiento,Consorte y descendencia
0,,,Isabel I de Castillajunto con su maridoFernand...,la Católica,13 de diciembrede1474-26 de noviembrede1504(29...,22 de abrilde1451Madrigal de las Altas TorresH...,26 de noviembrede1504Medina del Campo(53 años)...,
1,,,Fernando V de Castillajunto con su mujerIsabel I,el Católico,15 de enerode1475[a]​-26 de noviembrede1504[b]...,10 de marzode1452SosHijo deJuan II de AragónyJ...,23 de enerode1516Madrigalejo(63 años)Capilla R...,
2,Fernando II de Aragón,20 de enerode1479-23 de enerode1516(37 años y ...,Isabel I de Castilla7 hijos,None,None,None,None,None
3,,,Juana I de Castillajunto con su maridoFelipe(1...,la Loca,26 de noviembrede1504-12 de abrilde1555(50 año...,6 de noviembrede1479ToledoHija de Isabel I y F...,12 de abrilde1555Tordesillas(75 años)Capilla R...,Felipe I de Castilla6 hijos
4,Juana I de Aragónjunto con su hijoCarlos I,23 de enerode1516[c]​-12 de abrilde1555(39 año...,,None,None,None,None,None
5,,,Felipe I de Castillajunto con su mujerJuana I,el Hermoso,12 de juliode1506[d]​-25 de septiembrede1506(7...,22 de juniode1478BrujasHijo deMaximiliano I de...,25 de septiembrede1506Burgos(28 años)Capilla R...,
6,,,Carlos Ijunto con su madreJuana Ihasta el12 de...,el César,14 de marzode1516[e]​-16 de enerode1556[f]​(39...,24 de febrerode1500GanteHijo de Juana I y Feli...,21 de septiembrede1558Cuacos de Yuste(58 años)...,Isabel de Portugal5 hijos
7,,,Felipe II[g]​,el Prudente,16 de enerode1556-13 de septiembrede1598(42 añ...,21 de mayode1527ValladolidHijo de Carlos I e I...,13 de septiembrede1598San Lorenzo de El Escori...,(1)María I de InglaterraSin descendencia(2)Isa...
8,,,Felipe III,el Piadoso,13 de septiembrede1598-31 de marzode1621[h]​(2...,14 de abrilde1578MadridHijo de Felipe II y Ana...,31 de marzode1621Madrid(42 años)Cripta Real de...,Margarita de Austria8 hijos
9,,,Felipe IV,"el Grande,el Rey Planeta",31 de marzode1621-17 de septiembrede1665(44 añ...,8 de abrilde1605ValladolidHijo de Felipe III y...,17 de septiembrede1665Madrid(60 años)Cripta Re...,(1)Isabel de Borbón10 hijos(2)Mariana de Austr...
10,,,Carlos II,el Hechizado,17 de septiembrede1665-1 de noviembrede1700[i]...,6 de noviembrede1661MadridHijo de Felipe IV y ...,1 de noviembrede1700Madrid(38 años)Cripta Real...,(1)María Luisa de OrleansSin descendencia(2)Ma...
11,,None,None,None,None,None,None,None
12,,,"Archiduque CarlosRey rival comoCarlos III, eng...",el Archiduque,12 de septiembrede1703[k]​-2 de juliode1715[l]...,1 de octubrede1685VienaHijo deLeopoldo IyLeono...,20 de octubrede1740Viena(55 años)Cripta Imperi...,Isabel Cristina de Brunswick-Wolfenbüttel4 hijos
13,,,Felipe V,el Animoso,16 de noviembrede1700-14 de enerode1724[n]​[o]...,19 de diciembrede1683VersallesHijo deLuis de F...,9 de juliode1746Madrid(62 años)Palacio Real de...,(1)María Luisa Gabriela de Saboya4 hijos(2)Isa...
14,,,Luis I,"el Bien Amado,el Liberal",14 de enero-31 de agostode1724(230 días),25 de agostode1707MadridHijo de Felipe V y Mar...,31 de agostode1724Madrid(17 años)Cripta Real d...,Luisa Isabel de OrleansSin descendencia
15,,,Felipe V,el Animoso,6 de septiembrede1724-9 de juliode1746(21 años...,19 de diciembrede1683VersallesHijo de Luis de ...,9 de juliode1746Madrid(62 años)Palacio Real de...,Isabel de Farnesio7 hijos
16,,,Fernando VI,"el Prudente,el Justo",9 de juliode1746-10 de agostode1759(13 años y ...,23 de septiembrede1713MadridHijo de Felipe V y...,10 de agostode1759Villaviciosa de Odón(45 años...,Bárbara de BraganzaSin descendencia
17,,,Carlos III,"el Político,el Mejor Alcalde de Madrid",10 de agostode1759-14 de diciembrede1788[p]​(2...,20 de enerode1716MadridHijo de Felipe V e Isab...,14 de diciembrede1788Madrid(72 años)Cripta Rea...,María Amalia de Sajonia13 hijos
18,,,Carlos IV,el Cazador,14 de diciembrede1788-19 de marzode1808(19 año...,11 de noviembrede1748PorticiHijo de Carlos III...,19 de enerode1819Nápoles(70 años)Cripta Real d...,María Luisa de Parma14 hijos
19,,,Fernando VII,"el Deseado,el Rey Felón",19 de marzode1808-6 de mayode1808[q]​(48 días),14 de octubrede1784San Lorenzo de El EscorialH...,29 de septiembrede1833Madrid(48 años)Cripta Re...,
20,,,José I,"Pepe Botella,Pepe Plazuelas,el Intruso",6 de juniode1808[r]​-11 de diciembrede1813(5 a...,7 de enerode1768CorteHijo deCarlo BuonaparteyM...,28 de juliode1844Florencia(76 años)Los Inválidos,Julia Clary3 hijas
21,,,Fernando VII,"el Deseado,el Rey Felón",11 de agostode1808[s]​/4 de mayode1814[t]​-29 ...,14 de octubrede1784San Lorenzo de El EscorialH...,29 de septiembrede1833Madrid(48 años)Cripta Re...,(1)María Isabel de Braganza1 hija(2)María Jose...
22,,,Isabel II[u]​,"la de los Tristes Destinos,la Reina Castiza",29 de septiembrede1833-30 de septiembrede1868[...,10 de octubrede1830MadridHija de Fernando VII ...,9 de abrilde1904París(73 años)Cripta Real del ...,Francisco de Asís de Borbón12 hijos
23,,,Amadeo I,"el Rey Caballero,el Electo",16 de noviembrede1870-11 de febrerode1873[w]​(...,30 de mayode1845TurínHijo deVíctor Manuel II d...,18 de enerode1890Turín(44 años)Basílica de Sup...,María Victoria dal Pozzo3 hijos
24,,,Alfonso XII,el Pacificador,29 de diciembrede1874-25 de noviembrede1885[x]...,28 de noviembrede1857MadridHijo de Isabel II y...,25 de noviembrede1885El Pardo(27 años)Cripta R...,(1)María de las Mercedes de OrleansSin descend...
25,,,Alfonso XIII,el Africano,17 de mayode1886-14 de abrilde1931[y]​(44 años...,17 de mayode1886MadridHijo de Alfonso XII y Ma...,28 de febrerode1941Roma(54 años)Cripta Real de...,Victoria Eugenia de Battenberg7 hijos
26,,,Juan Carlos I,22 de noviembrede1975[z]​-19 de juniode2014(38...,5 de enerode1938Roma(86 años)Hijo deJuan de Bo...,Sofía de Grecia3 hijos,None,None
27,,,Felipe VI,Desde19 de juniode2014(9 años y 205 días),30 de enerode1968Madrid(55 años)Hijo de Juan C...,Letizia Ortiz2 hijas,None,None

* **En conclusión** : ha ido igual de bien la búsqueda con **BeautifulSoup** que con **Selenium**, pero con éste hay que tener en cuanta unos pasos previos y se ha conseguido solamente y después de varios intentos.

__________________________________________________________________________________________________________________________________________

## EXERCICIO 2

### **2. Documentar en un Word el conjunto de datos generado y la información obtenida como se hace en estos archivos.**
Para saber más : a modo de ejemplo de lo que se pide, consultar este enlace: ->https://www.kaggle.com/datasets/vivovinco/20212022-football-team-stats.

#### **2.a) Preparando el documento Word para **http://quotes.toscrape.com**.**

**Generamos un dataframe y un documento Word donde se verá el conjunto de datos con la información obtenida del Web Scraping.**

* Primero generamos el dataframe con los resultados del scraping de la página http://quotes.toscrape.com (obtenidos del primer web scraping, con BeautifulSoup) 
* Después lo plasmamos en un documento Word generado por código Python, donde se vean los resultados obtenidos del scraping

In [32]:
import pandas as pd

# Creamos las columnas del futuro DataFrame
df_quotes=pd.DataFrame(columns=('Author', 'Quote', 'Tags'))
df_quotes

Empty DataFrame
Columns: [Author, Quote, Tags]
Index: []

* El siguiente script creará unos DataFrames individuales por cada pareja de citación y autor y los almacenará en una lista. 
* Luego, utilizará la función "pd.concat" para concatenar el listado de los DataFrames en uno sólo, llamado **df_quotes**.

In [42]:
# Creamos las columnas del futuro DataFrame
df_quotes=pd.DataFrame(columns=('Author', 'Quote', 'Tags'))

url = "http://quotes.toscrape.com"
response = requests.get(url)

if response.status_code == 200:
    soup = BeautifulSoup(response.text, 'html.parser')

    # Create an empty list to store DataFrames
    dfs = []

    # Locate the quotes and authors
    quotes = soup.find_all('span', class_='text')
    authors = soup.find_all('small', class_='author')

    # Locate the tags for each quote and create DataFrames
    for quote, author in zip(quotes, authors):
        quote_text = quote.get_text()
        author_name = author.get_text()

        # Find the tags associated with the current quote
        tags_section = quote.find_next('div', class_='tags')
        if tags_section:
            tags = tags_section.find_all('a', class_='tag')
            tag_words = [tag.get_text() for tag in tags]
        else:
            tag_words = []

        # Create a DataFrame for the current quote and author
        df = pd.DataFrame({'Author': [author_name], 'Quote': [quote_text], 'Tags': [tag_words]})
        dfs.append(df)

    # Concatenate the list of DataFrames into a single DataFrame
    df_quotes = pd.concat(dfs, ignore_index=True)

else:
    print(f"Failed to retrieve the page. Status code: {response.status_code}")

# see the resulting DataFrame
df_quotes

,Author,Quote,Tags
0,Albert Einstein,“The world as we have created it is a process ...,"[change, deep-thoughts, thinking, world]"
1,J.K. Rowling,"“It is our choices, Harry, that show what we t...","[abilities, choices]"
2,Albert Einstein,“There are only two ways to live your life. On...,"[inspirational, life, live, miracle, miracles]"
3,Jane Austen,"“The person, be it gentleman or lady, who has ...","[aliteracy, books, classic, humor]"
4,Marilyn Monroe,"“Imperfection is beauty, madness is genius and...","[be-yourself, inspirational]"
5,Albert Einstein,“Try not to become a man of success. Rather be...,"[adulthood, success, value]"
6,André Gide,“It is better to be hated for what you are tha...,"[life, love]"
7,Thomas A. Edison,"“I have not failed. I've just found 10,000 way...","[edison, failure, inspirational, paraphrased]"
8,Eleanor Roosevelt,“A woman is like a tea bag; you never know how...,[misattributed-eleanor-roosevelt]
9,Steve Martin,"“A day without sunshine is like, you know, nig...","[humor, obvious, simile]"

Ahora hay que pasar los datos a un nuevo documento Word que se creará desde Python y tenrá un formato estándar.
Previamente hay que instalar **pandas python-docx**.
Para formatos Word más específicos y complejos, sepodría instalar la librería **pandas-to-word** pero en esta tarea, python-docx será suficiente.

    -> C:\WINDOWS\system32>conda install conda-forge::python-docx

In [44]:
# Exportar dataframe a Word

import pandas as pd
from docx import Document

# Create a Word document
doc = Document()

# Add a heading to the document
doc.add_heading('Quotes Data', level=1)

# Add the DataFrame to the document
df_quotes_table = doc.add_table(df_quotes.shape[0] + 1, df_quotes.shape[1])

# Add column names to the table
for col_num, col_name in enumerate(df_quotes.columns):
    df_quotes_table.cell(0, col_num).text = col_name

# Add data to the table
for row_num in range(df_quotes.shape[0]):
    for col_num in range(df_quotes.shape[1]):
        df_quotes_table.cell(row_num + 1, col_num).text = str(df_quotes.iloc[row_num, col_num])

# Save the Word document
doc.save('quotes_data.docx')

---> El documento Word **quotes_data.docx** se acaba de generar y guardar en la carpeta del proyecto, donde se puede aumentar o modificar si necesario.

#### **2.b) Preparando el documento Word para **https://es.wikipedia.org/wiki/Anexo:Reyes_de_Espa%C3%B1a** -> *Anexo:Reyes_de_España*.**

In [51]:
df_reyes = df_1
df_reyes.head(3)

,Imagen,Escudo,Nombre,Sobrenombre,Reinado,Nacimiento,Fallecimiento,Consorte y descendencia
0,,,Isabel I de Castillajunto con su maridoFernand...,la Católica,13 de diciembrede1474-26 de noviembrede1504(29...,22 de abrilde1451Madrigal de las Altas TorresH...,26 de noviembrede1504Medina del Campo(53 años)...,
1,,,Fernando V de Castillajunto con su mujerIsabel I,el Católico,15 de enerode1475[a]​-26 de noviembrede1504[b]...,10 de marzode1452SosHijo deJuan II de AragónyJ...,23 de enerode1516Madrigalejo(63 años)Capilla R...,
2,Fernando II de Aragón,20 de enerode1479-23 de enerode1516(37 años y ...,Isabel I de Castilla7 hijos,None,None,None,None,None

Definimos los parámetros para que la información sobre los Reyes de España se pueda plasmar en un documento Word.

In [52]:
import pandas as pd
from docx import Document

columns = ["Imagen", "Escudo", "Nombre", "Sobrenombre", "Reinado", "Nacimiento", "Fallecimiento", "Consorte y descendencia"]
df = pd.DataFrame(all_table_data, columns=columns)

# Create a Word document
doc = Document()

# Add a title to the document
doc.add_heading('Reyes de España a partir del "Anexo:Reyes_de_España" de Wikipedia', level=1)

# Add the DataFrame to the document
table = doc.add_table(df.shape[0]+1, df.shape[1])
table.style = 'Table Grid'

# Add column names to the table
for col_num, column in enumerate(df.columns):
    table.cell(0, col_num).text = column

# Add data to the table
for row_num in range(df.shape[0]):
    for col_num in range(df.shape[1]):
        table.cell(row_num+1, col_num).text = str(df.iloc[row_num, col_num])

# Save the document
doc.save('Reyes_Document.docx')

Los documentos se encuentran ahora en la carpeta donde está el código del proyecto del Sprint 10 - Web Scraping.

---> 'quotes_data.docx'

---> 'Reyes_Document.docx'

__________________________________________________________________________________________________________________________________________

## EXERCICIO 3

### **3. Elige una página web que quieras y realiza web scraping mediante la librería Selenium primero y Scrapy después.**

#### **3.a) A continuación se va "scrapear" la web **https://www.bolsamadrid.es**.**

Me interesa la bolsa y dado que el mercado nacional ya ha cerrado, los precios no se mueven más y se puede hacer web scraping con los valores definitivos del día. Los valores de las tablas están fijos ahora, 15 enero 2024 17:37:30.

La primera idea es hacer que el código me lleve a hacer click en el primer botón situado en la página principal, en la sección con el enlace a <a class="section-buttons-button" href="/bme-exchange/es/Mercados-y-Cotizaciones/Acciones/Mercado-Continuo/Precios/ibex-35-ES0SI0000005" target="_self"><span>**IBEX 35**</span>. 
    
Después de probar sin éxito, pruebo de escanear directamente la página del enlace y pido ver los valores (filas y columnas con sus nombres correspondientes)

In [55]:
import chromedriver_binary
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.chrome.service import Service
from webdriver_manager.chrome import ChromeDriverManager
from selenium.webdriver.common.keys import Keys

In [56]:
# Install Webdriver
service = Service(ChromeDriverManager().install())

# Create Driver Instance
driver = webdriver.Chrome(service=service)

# URL of the page
url = "https://www.bolsasymercados.es/bme-exchange/es/Mercados-y-Cotizaciones/Acciones/Mercado-Continuo/Precios/ibex-35-ES0SI0000005"

# Open the webpage
driver.get(url)

# Wait for the page to load (you might need to adjust the waiting time)
driver.implicitly_wait(10)

# Find the root div
root_div = driver.find_element(By.ID, 'root')

# Get HTML content from the root div
html_root = root_div.get_attribute('outerHTML')

# Print or process the HTML content from the root div
print(html_root)

# Find all sub-sections with class 'table-responsive'
table_sections = driver.find_elements(By.XPATH, '//div[@class="table-responsive"]')

# Iterate through each sub-section
for index, table_section in enumerate(table_sections, 1):
    
    # Get HTML content from the sub-section
    html_sub_section = table_section.get_attribute('outerHTML')
    
    # Print or process the HTML content from the sub-section
    print(f"Sub-Section {index} HTML:\n{html_sub_section}")

# Close the webdriver
driver.quit()

<div id="root"><div class="empty-placeholder loading">&nbsp;<span class="sr-only">Cargando...</span></div></div>
Sub-Section 1 HTML:
<div class="table-responsive" style="display: none !important;"><table role="table" class="index-table"><caption class="sr-only">IBEX 35</caption><thead class=""><tr role="row"><th colspan="1" role="columnheader" rowspan="1" class="">Índice</th><th colspan="1" role="columnheader" rowspan="1" class="">Último</th><th colspan="1" role="columnheader" rowspan="1" class="">% Dif.</th><th colspan="1" role="columnheader" rowspan="1" class="">Máximo</th><th colspan="1" role="columnheader" rowspan="1" class="">Mínimo</th><th colspan="1" role="columnheader" rowspan="1" class="">Fecha</th><th colspan="1" role="columnheader" rowspan="1" class="">Hora</th><th colspan="1" role="columnheader" rowspan="1" class="">% Dif. Año</th></tr></thead><tbody role="rowgroup"><tr role="row" class=""><td role="rowheader" class="text-nowrap "><a href="/bme-exchange/es/Indices/Ficha/Ibex-35-ES0SI0000005">IBEX 35®</a></td><td role="cell" class="text-right "></td><td role="cell" class="text-right DiffDown "></td><td role="cell" class="text-right "></td><td role="cell" class="text-right "></td><td role="cell" class="text-center ">15/01/2024</td><td role="cell" class="text-center ">17:37:30</td><td role="cell" class="text-right DiffDown "></td></tr></tbody></table></div>
Sub-Section 2 HTML:

In [67]:
# Install Webdriver
service = Service(ChromeDriverManager().install())

# Create Driver Instance
driver = webdriver.Chrome(service=service)

# URL of the page
url = "https://www.bolsasymercados.es/bme-exchange/es/Mercados-y-Cotizaciones/Acciones/Mercado-Continuo/Precios/ibex-35-ES0SI0000005"

# Open the webpage
driver.get(url)

# Wait for the page to load
driver.implicitly_wait(10)

# Find the Shares table
shares_table = driver.find_element(By.CSS_SELECTOR, 'div.table-responsive table.shares-table')

# Find all rows in the table body
rows = shares_table.find_elements(By.TAG_NAME, 'tr')

# Loop through rows and print the content of each cell
for row in rows:
    elements = row.find_elements(By.TAG_NAME, "td")
    row_data = [element.text.strip() for element in elements]
    print(row_data)

# Close the webdriver
driver.quit()

[]
['ACCIONA', '127,7500', '-2,26%', '131,3500', '126,4000', '105.112', '13.463,63', '15/01/2024', 'Cierre']
['ACCIONA ENER', '24,8400', '-2,20%', '25,4800', '24,7000', '287.725', '7.162,97', '15/01/2024', 'Cierre']
['ACERINOX', '10,4000', '1,17%', '10,4350', '10,2750', '665.126', '6.905,63', '15/01/2024', 'Cierre']
['ACS', '40,2600', '0,17%', '40,3900', '39,9900', '426.287', '17.143,72', '15/01/2024', 'Cierre']
['AENA', '168,8000', '-0,03%', '169,6500', '168,0000', '84.994', '14.345,04', '15/01/2024', 'Cierre']
['AMADEUS', '63,9200', '-0,81%', '64,5000', '63,7400', '331.988', '21.220,78', '15/01/2024', 'Cierre']
['ARCELORMIT.', '24,4300', '0,18%', '24,7250', '24,3850', '89.265', '2.188,17', '15/01/2024', 'Cierre']
['B.SANTANDER', '3,7600', '-1,09%', '3,8270', '3,7600', '23.138.604', '87.288,21', '15/01/2024', 'Cierre']
['BA.SABADELL', '1,1525', '0,17%', '1,1665', '1,1475', '9.680.422', '11.174,61', '15/01/2024', 'Cierre']
['BANKINTER', '6,1200', '0,99%', '6,1500', '6,0480', '2.232.588', '13.652,72', '15/01/2024', 'Cierre']
['BBVA', '8,2520', '-0,43%', '8,3760', '8,2160', '4.904.142', '40.505,02', '15/01/2024', 'Cierre']
['CAIXABANK', '3,9270', '0,43%', '3,9450', '3,8770', '5.396.104', '21.138,26', '15/01/2024', 'Cierre']
['CELLNEX', '35,5700', '-0,70%', '36,1500', '35,3500', '495.957', '17.672,15', '15/01/2024', 'Cierre']
['ENAGAS', '15,8550', '-0,19%', '15,9650', '15,7900', '406.720', '6.453,22', '15/01/2024', 'Cierre']
['ENDESA', '19,7700', '-0,15%', '19,8700', '19,6700', '934.665', '18.467,14', '15/01/2024', 'Cierre']
['FERROVIAL SE', '34,9100', '0,40%', '35,1200', '34,8000', '1.075.778', '37.615,01', '15/01/2024', 'Cierre']
['FLUIDRA', '18,9600', '-0,99%', '19,3000', '18,9100', '100.475', '1.910,94', '15/01/2024', 'Cierre']
['GRIFOLS CL.A', '8,8960', '0,25%', '9,6300', '8,6820', '6.833.812', '61.999,30', '15/01/2024', 'Cierre']
['IAG', '1,6930', '0,65%', '1,7060', '1,6780', '6.883.360', '11.639,17', '15/01/2024', 'Cierre']
['IBERDROLA', '11,6650', '-0,09%', '11,7100', '11,5600', '17.633.594', '205.640,34', '15/01/2024', 'Cierre']
['INDITEX', '38,8900', '-0,38%', '39,1100', '38,6400', '978.532', '38.053,07', '15/01/2024', 'Cierre']
['INDRA A', '15,3100', '0,66%', '15,3700', '15,1500', '324.204', '4.952,94', '15/01/2024', 'Cierre']
['INM.COLONIAL', '5,9600', '-0,67%', '6,0900', '5,9450', '686.687', '4.119,93', '15/01/2024', 'Cierre']
['LOGISTA', '25,8000', '0,47%', '25,9200', '25,6600', '181.017', '4.671,24', '15/01/2024', 'Cierre']
['MAPFRE', '2,0200', '0,20%', '2,0280', '2,0120', '1.377.576', '2.783,06', '15/01/2024', 'Cierre']
['MELIA HOTELS', '5,8550', '-0,43%', '5,9050', '5,8350', '237.239', '1.390,59', '15/01/2024', 'Cierre']
['MERLIN', '9,5250', '0,11%', '9,5950', '9,4400', '469.873', '4.468,95', '15/01/2024', 'Cierre']
['NATURGY', '27,1200', '-0,22%', '27,2800', '27,0000', '231.219', '6.267,64', '15/01/2024', 'Cierre']
['REDEIA', '15,2200', '0,10%', '15,3000', '15,1250', '897.809', '13.652,47', '15/01/2024', 'Cierre']
['REPSOL', '13,2400', '0,99%', '13,3550', '13,1400', '2.300.453', '30.470,44', '15/01/2024', 'Cierre']
['ROVI', '61,9000', '1,89%', '62,0000', '60,7500', '58.779', '3.616,77', '15/01/2024', 'Cierre']
['SACYR', '3,1480', '-0,19%', '3,1640', '3,1140', '1.883.163', '5.916,18', '15/01/2024', 'Cierre']
['SOLARIA', '16,4900', '0,18%', '16,8350', '16,3550', '394.022', '6.509,16', '15/01/2024', 'Cierre']
['TELEFONICA', '3,7720', '1,43%', '3,7810', '3,7200', '6.699.402', '25.205,25', '15/01/2024', 'Cierre']
['UNICAJA', '0,9090', '0,44%', '0,9130', '0,9035', '3.174.624', '2.886,35', '15/01/2024', 'Cierre']

In [73]:
# Create Driver Instance
driver = webdriver.Chrome(service=service)

# URL of the page
url = "https://www.bolsasymercados.es/bme-exchange/es/Mercados-y-Cotizaciones/Acciones/Mercado-Continuo/Precios/ibex-35-ES0SI0000005"

# Open the webpage
driver.get(url)

# Wait for the page to load (you might need to adjust the waiting time)
driver.implicitly_wait(10)

# Find the Shares table
shares_table = driver.find_element(By.CSS_SELECTOR, 'div.table-responsive table.shares-table')

# Find column names
columns = shares_table.find_elements(By.TAG_NAME, 'th')
column_names = [column.text.strip() for column in columns]

# Find all rows in the table body
rows = shares_table.find_elements(By.TAG_NAME, 'tr')

# Initialize an empty list to store data
data = []

# Loop through rows and append the content of each cell to the data list
for row in rows:
    elements = row.find_elements(By.TAG_NAME, "td")
    row_data = [element.text.strip() for element in elements]
    data.append(row_data)

# Create a pandas DataFrame
df = pd.DataFrame(data, columns=column_names)

# Print the DataFrame
print(df)

# Close the webdriver
driver.quit()

                    Último  % Dif.    Máximo    Mínimo     Volumen  \
0           None      None    None      None      None        None
1        ACCIONA  127,7500  -2,26%  131,3500  126,4000     105.112
2   ACCIONA ENER   24,8400  -2,20%   25,4800   24,7000     287.725
3       ACERINOX   10,4000   1,17%   10,4350   10,2750     665.126
4            ACS   40,2600   0,17%   40,3900   39,9900     426.287
5           AENA  168,8000  -0,03%  169,6500  168,0000      84.994
6        AMADEUS   63,9200  -0,81%   64,5000   63,7400     331.988
7    ARCELORMIT.   24,4300   0,18%   24,7250   24,3850      89.265
8    B.SANTANDER    3,7600  -1,09%    3,8270    3,7600  23.138.604
9    BA.SABADELL    1,1525   0,17%    1,1665    1,1475   9.680.422
10     BANKINTER    6,1200   0,99%    6,1500    6,0480   2.232.588
11          BBVA    8,2520  -0,43%    8,3760    8,2160   4.904.142
12     CAIXABANK    3,9270   0,43%    3,9450    3,8770   5.396.104
13       CELLNEX   35,5700  -0,70%   36,1500   35,3500     495.957
14        ENAGAS   15,8550  -0,19%   15,9650   15,7900     406.720
15        ENDESA   19,7700  -0,15%   19,8700   19,6700     934.665
16  FERROVIAL SE   34,9100   0,40%   35,1200   34,8000   1.075.778
17       FLUIDRA   18,9600  -0,99%   19,3000   18,9100     100.475
18  GRIFOLS CL.A    8,8960   0,25%    9,6300    8,6820   6.833.812
19           IAG    1,6930   0,65%    1,7060    1,6780   6.883.360
20     IBERDROLA   11,6650  -0,09%   11,7100   11,5600  17.633.594
21       INDITEX   38,8900  -0,38%   39,1100   38,6400     978.532
22       INDRA A   15,3100   0,66%   15,3700   15,1500     324.204
23  INM.COLONIAL    5,9600  -0,67%    6,0900    5,9450     686.687
24       LOGISTA   25,8000   0,47%   25,9200   25,6600     181.017
25        MAPFRE    2,0200   0,20%    2,0280    2,0120   1.377.576
26  MELIA HOTELS    5,8550  -0,43%    5,9050    5,8350     237.239
27        MERLIN    9,5250   0,11%    9,5950    9,4400     469.873
28       NATURGY   27,1200  -0,22%   27,2800   27,0000     231.219
29        REDEIA   15,2200   0,10%   15,3000   15,1250     897.809
30        REPSOL   13,2400   0,99%   13,3550   13,1400   2.300.453
31          ROVI   61,9000   1,89%   62,0000   60,7500      58.779
32         SACYR    3,1480  -0,19%    3,1640    3,1140   1.883.163
33       SOLARIA   16,4900   0,18%   16,8350   16,3550     394.022
34    TELEFONICA    3,7720   1,43%    3,7810    3,7200   6.699.402
35       UNICAJA    0,9090   0,44%    0,9130    0,9035   3.174.624

   Efectivo (miles €)       Fecha    Hora
0                None        None    None
1           13.463,63  15/01/2024  Cierre
2            7.162,97  15/01/2024  Cierre
3            6.905,63  15/01/2024  Cierre
4           17.143,72  15/01/2024  Cierre
5           14.345,04  15/01/2024  Cierre
6           21.220,78  15/01/2024  Cierre
7            2.188,17  15/01/2024  Cierre
8           87.288,21  15/01/2024  Cierre
9           11.174,61  15/01/2024  Cierre
10          13.652,72  15/01/2024  Cierre
11          40.505,02  15/01/2024  Cierre
12          21.138,26  15/01/2024  Cierre
13          17.672,15  15/01/2024  Cierre
14           6.453,22  15/01/2024  Cierre
15          18.467,14  15/01/2024  Cierre
16          37.615,01  15/01/2024  Cierre
17           1.910,94  15/01/2024  Cierre
18          61.999,30  15/01/2024  Cierre
19          11.639,17  15/01/2024  Cierre
20         205.640,34  15/01/2024  Cierre
21          38.053,07  15/01/2024  Cierre
22           4.952,94  15/01/2024  Cierre
23           4.119,93  15/01/2024  Cierre
24           4.671,24  15/01/2024  Cierre
25           2.783,06  15/01/2024  Cierre
26           1.390,59  15/01/2024  Cierre
27           4.468,95  15/01/2024  Cierre
28           6.267,64  15/01/2024  Cierre
29          13.652,47  15/01/2024  Cierre
30          30.470,44  15/01/2024  Cierre
31           3.616,77  15/01/2024  Cierre
32           5.916,18  15/01/2024  Cierre
33           6.509,16  15/01/2024  Cierre
34          25.205,25  15/01/2024  Cierre
35           2.886,35  15/01/2024  Cierre

In [77]:
# Quitar la fila 0, que no aporta información.

df_ibex35 = df.drop(index=0).reset_index(drop=True)
df_ibex35

,,Último,% Dif.,Máximo,Mínimo,Volumen,Efectivo (miles €),Fecha,Hora
0,ACCIONA,"127,7500","-2,26%","131,3500","126,4000",105.112,"13.463,63",15/01/2024,Cierre
1,ACCIONA ENER,"24,8400","-2,20%","25,4800","24,7000",287.725,"7.162,97",15/01/2024,Cierre
2,ACERINOX,"10,4000","1,17%","10,4350","10,2750",665.126,"6.905,63",15/01/2024,Cierre
3,ACS,"40,2600","0,17%","40,3900","39,9900",426.287,"17.143,72",15/01/2024,Cierre
4,AENA,"168,8000","-0,03%","169,6500","168,0000",84.994,"14.345,04",15/01/2024,Cierre
5,AMADEUS,"63,9200","-0,81%","64,5000","63,7400",331.988,"21.220,78",15/01/2024,Cierre
6,ARCELORMIT.,"24,4300","0,18%","24,7250","24,3850",89.265,"2.188,17",15/01/2024,Cierre
7,B.SANTANDER,"3,7600","-1,09%","3,8270","3,7600",23.138.604,"87.288,21",15/01/2024,Cierre
8,BA.SABADELL,"1,1525","0,17%","1,1665","1,1475",9.680.422,"11.174,61",15/01/2024,Cierre
9,BANKINTER,"6,1200","0,99%","6,1500","6,0480",2.232.588,"13.652,72",15/01/2024,Cierre
10,BBVA,"8,2520","-0,43%","8,3760","8,2160",4.904.142,"40.505,02",15/01/2024,Cierre
11,CAIXABANK,"3,9270","0,43%","3,9450","3,8770",5.396.104,"21.138,26",15/01/2024,Cierre
12,CELLNEX,"35,5700","-0,70%","36,1500","35,3500",495.957,"17.672,15",15/01/2024,Cierre
13,ENAGAS,"15,8550","-0,19%","15,9650","15,7900",406.720,"6.453,22",15/01/2024,Cierre
14,ENDESA,"19,7700","-0,15%","19,8700","19,6700",934.665,"18.467,14",15/01/2024,Cierre
15,FERROVIAL SE,"34,9100","0,40%","35,1200","34,8000",1.075.778,"37.615,01",15/01/2024,Cierre
16,FLUIDRA,"18,9600","-0,99%","19,3000","18,9100",100.475,"1.910,94",15/01/2024,Cierre
17,GRIFOLS CL.A,"8,8960","0,25%","9,6300","8,6820",6.833.812,"61.999,30",15/01/2024,Cierre
18,IAG,"1,6930","0,65%","1,7060","1,6780",6.883.360,"11.639,17",15/01/2024,Cierre
19,IBERDROLA,"11,6650","-0,09%","11,7100","11,5600",17.633.594,"205.640,34",15/01/2024,Cierre
20,INDITEX,"38,8900","-0,38%","39,1100","38,6400",978.532,"38.053,07",15/01/2024,Cierre
21,INDRA A,"15,3100","0,66%","15,3700","15,1500",324.204,"4.952,94",15/01/2024,Cierre
22,INM.COLONIAL,"5,9600","-0,67%","6,0900","5,9450",686.687,"4.119,93",15/01/2024,Cierre
23,LOGISTA,"25,8000","0,47%","25,9200","25,6600",181.017,"4.671,24",15/01/2024,Cierre
24,MAPFRE,"2,0200","0,20%","2,0280","2,0120",1.377.576,"2.783,06",15/01/2024,Cierre
25,MELIA HOTELS,"5,8550","-0,43%","5,9050","5,8350",237.239,"1.390,59",15/01/2024,Cierre
26,MERLIN,"9,5250","0,11%","9,5950","9,4400",469.873,"4.468,95",15/01/2024,Cierre
27,NATURGY,"27,1200","-0,22%","27,2800","27,0000",231.219,"6.267,64",15/01/2024,Cierre
28,REDEIA,"15,2200","0,10%","15,3000","15,1250",897.809,"13.652,47",15/01/2024,Cierre
29,REPSOL,"13,2400","0,99%","13,3550","13,1400",2.300.453,"30.470,44",15/01/2024,Cierre
30,ROVI,"61,9000","1,89%","62,0000","60,7500",58.779,"3.616,77",15/01/2024,Cierre
31,SACYR,"3,1480","-0,19%","3,1640","3,1140",1.883.163,"5.916,18",15/01/2024,Cierre
32,SOLARIA,"16,4900","0,18%","16,8350","16,3550",394.022,"6.509,16",15/01/2024,Cierre
33,TELEFONICA,"3,7720","1,43%","3,7810","3,7200",6.699.402,"25.205,25",15/01/2024,Cierre
34,UNICAJA,"0,9090","0,44%","0,9130","0,9035",3.174.624,"2.886,35",15/01/2024,Cierre

Finalmente, se obtiene un **nuevo y limplio DataFrame** que contiene todos los datos de los **principales valores que cotizan en la Bolsa de Madrid**. 

Desde el mismo Python, se va a exportar a **Excel** y a fromato **Word** :

In [79]:
df_ibex35.to_excel("df_ibex35.xlsx", index=False)

In [82]:
from docx import Document

# Create a new Word document
doc = Document()

# Add a title to the document
doc.add_heading('Valores del IBEX 35 tras el cierre del 15 enero 2024 17:37:30', level=1)

# Add a table to the document
table = doc.add_table(rows=df_ibex35.shape[0] + 1, cols=df_ibex35.shape[1])

# Add column names to the first row of the table
for col_num, col_name in enumerate(df_ibex35.columns):
    table.cell(0, col_num).text = col_name

# Add data to the table
for row_num in range(df_ibex35.shape[0]):
    for col_num in range(df_ibex35.shape[1]):
        table.cell(row_num + 1, col_num).text = str(df_ibex35.iloc[row_num, col_num])

# Save the Word document
doc.save("df_IBEX35_15-01-2024.docx")